body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    background:linear-gradient(90deg , rgb(0, 119, 255),rgb(255, 0, 247));
}

.container {
    background-color: whitesmoke;
    width: 40%;
    height: 40vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 8px rgba(214, 211, 211, 0.875);
    text-align: center;
}

#dob{
    width: 50%;
}

.ageIs{
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px 22px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px gray;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 1.5rem;
    margin-top: 20px;
}
.age{
    display: flex;
    gap: 30px;
    justify-content: center;
}

#year,#month,#days{
    height: 60px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    background: linear-gradient(180deg, rgb(255, 0, 187),rgb(0, 157, 255));
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px gray;
}